/* reset de propriedades css--boa pratica partir do zero a estilização do APP
 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(20, 19, 19);
}

body, input, button {
    font-size: 16px;
    font-family: 'VT323', monospace;

    -webkit-font-smoothing: antialiased;
}